CONFIG_IDF_TARGET="esp32s3"
CONFIG_MCP2517FD_PIN_CS=10
CONFIG_MCP2517FD_PIN_MOSI=11
CONFIG_MCP2517FD_PIN_SCK=12
CONFIG_MCP2517FD_PIN_MISO=13
CONFIG_MCP2517FD_PIN_INT=14
CONFIG_MCP2517FD_OSC_40MHZ=y
CONFIG_MCP2517FD_NOMINAL_BITRATE=500000
CONFIG_MCP2517FD_DATA_BITRATE=2000000
CONFIG_CANFD_MONITOR_INTERVAL_MS=1000
